DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
DOLETH_ACCESS_PASSWORD="una-frase-larga-unica-de-al-menos-12-caracteres"
DOLETH_SESSION_SECRET="un-secreto-aleatorio-de-al-menos-32-caracteres"
